<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    @RenderBody()
</div>
<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="~/js/knockout-3.4.2.js"></script>
<script type="text/javascript" src="~/js/underscore.js"></script>
<script type="text/javascript" src="~/js/contacts.js"></script>
<script type="text/javascript" src="~/js/site.js"></script>
</body>
</html>
